
h1{
    font-size: 48px;
    font-weight: bold;
}
p{
    width: 400px;
    font-size: 16px;
    font-weight: 400;
}
.orange-bg{
    background-color: #f0fff0;
}
.left-m{
    margin-left: 5%;
}
section{
    background-color: #f0fff0;
    margin-bottom: 150px;
}
.button-style{
    color: white;
    background-color: #21B573;
    border-radius: 20px;
    border: none;
}
small{
    color: red;
}
.bc1{
    color: white;
    background-color: #21B573;
    border: none;
    border-radius: 20px;
    padding: 0px 8px;
}
h2{
    font-size: 24px;
    font-weight: 400;
    color: #413960;
}
.categories{
    margin-left: 13%;
    margin-bottom: 150px;
}
.c1{
    background-color: #F8FFFB;
    width: 75%;
}
.c2{
    box-shadow: 2px 2px 10px lightgray;
    border-radius: 10px;
    width: 75%;
}

.c5{
    
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: bold;
    color: #21B573;
    text-align: center;
    flex-wrap: wrap;
}
.s1{
    font-size: 16px;
    color: dimgray;
}
.s2{
    margin-bottom: 150px;
}
.s3{
    width: 600px;
    height: 200px;
    
}
.s4{
    border: none;
    border-radius: 50%;
    margin-right: 100px;
}
.s6{
    margin-right:10px ;
}

.text-center{
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}
.s7{
    width: 135px;
    margin-right: 17%;
}
.s8{
    width: 135px;
}
