@media(max-width: 319px){
    .set-img-width{
        width: 75%;
    }
}

@media(max-width: 303px){
    .set-img-width{
        width: 70%;
    }
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

p {
    width: 92%;
    font-size: 14px;
    font-weight: bold;
}

.orange-bg {
    background-color: #f0fff0;
}

section {
    background-color: #f0fff0;
    margin-bottom: 150px;
}

.button-style {
    color: white;
    background-color: #21B573;
    border-radius: 20px;
    border: none;
    padding: 6px 12px;
    font-weight: bold;
}

small {
    color: red;
}

.signup-btn {
    background-color: #21B573;
    border: none;
    border-radius: 20px;
    padding: 0px 8px;
    /* width: 20%; */
}

h2 {
    font-size: 24px;
    font-weight: 400;
    color: #413960;
}

.categories {
    margin-bottom: 150px;
}

.bg-style-1 {
    background-color: #F8FFFB;
    box-shadow: 2px 2px 10px lightgray;
    border-radius: 10px;
    width: 80%;
}

.bg-style-2 {
    box-shadow: 2px 2px 10px lightgray;
    border-radius: 10px;
    width: 80%;
}

.big-text {
    margin-bottom: 100px;
    font-size: 48px;
    font-weight: bold;
    color: #21B573;
    text-align: center;
    flex-wrap: wrap;
}

@media(max-width: 500px) {
    .big-text {
        margin-bottom: 50px;
    }
}

.font-style {
    font-size: 16px;
    color: dimgray;
}

.bottom-margin {
    margin-bottom: 150px;
}

.img-design {
    border: none;
    border-radius: 50%;
    width: 180px;
}

.set-width {
    width: 35%;
    text-align: justify;
}

@media(max-width: 767px) {
    .img-design {
        margin-bottom: 50px;
    }

    .set-width {
        width: 100%;
    }
}

.text-justify {
    text-align: justify !important;
}

.text-center {
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

.j-heading-1,
.j-heading-2,
.j-heading-3,
.j-main-1,
.j-main-2,
.j-main-3,
.j-card-1,
.j-card-2,
.j-card-3,
.j-my-img,
.j-my-text,
.j-footer
{
    opacity: 0;
}


.j-heading-1.animate__animated,
.j-heading-2.animate__animated,
.j-heading-3.animate__animated,
.j-main-1.animate__animated,
.j-main-2.animate__animated,
.j-main-3.animate__animated,
.j-card-1.animate__animated,
.j-card-2.animate__animated,
.j-card-3.animate__animated,
.j-my-img.animate__animated,
.j-my-text.animate__animated,
.j-footer.animate__animated
{
    opacity: 1;
}

.j-main-2, .j-my-text, .j-footer{
    animation-delay: 0.6s;
}

.j-card-1, .j-card-2, .j-card-3{
    animation-delay: 0.3s;
}

.j-main-3, .j-my-img{
    animation-delay: 0.5s;
}